#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#image1{
    width: 360px;
    height: 250px;
    border-radius: 50px;
    border-width: 50px;
    border-color: black;
}
#image2{
    width: 360px;
    height: 250px;
    border-radius: 50px;
    border-width: 50px;
    border-color: black;
}
#image3{
    width: 360px;
    height: 250px;
    border-radius: 50px;
    border-width: 50px;
    border-color: black;
}

.column{
    margin: 10px;
}